CSP-EDWH/PartialArmTemplates/ArmTemplate_11_5_2019_10_57_33.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CSP-EDWH"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_IMPROVE_L0')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSqlTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tablesList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LOOKUP_OLD_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from dbo.T_LAST_RIF_VALUE where TABLE_NAME = @{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "CSP_INCREMENTAL_LOAD",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "LOOKUP_NEW_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select MAX(@{item().Rif_Column}) as NewRifValue from @{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "INCREMENTAL_COPY_ACTIVITY",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LOOKUP_OLD_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LOOKUP_NEW_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().Rif_Column} > '@{activity('LOOKUP_OLD_LOAD').output.firstRow.RIF_VALUE}' and @{item().WaterMark_Column} <= '@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewRifValue}'",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameForMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "CSP_EDWH_DATA_SET",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									]
								},
								{
									"name": "UpdateRifValue",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "INCREMENTAL_COPY_ACTIVITY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.usp_write_rif_value",
										"storedProcedureParameters": {
											"LastModifiedtime": {
												"value": "@{activity('LOOKUP_NEW_LOAD').output.firstRow.RIF_VALUE}",
												"type": "Datetime"
											},
											"TableName": {
												"value": "@{activity('LOOKUP_OLD_LOAD').output.firstRow.NewRifValue}",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "CSP_EDWH_LINKED_SERVER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"tablesList": {
						"type": "object"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_IMPROVE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_IMPROVE1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "READ_DT_MD_TABLE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from MD_IMPROVE_STAG_TABLES where DN_SOURCE_TABLE  =  '@{item().TABLE_NAME}'",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DS_L0_INCREMENTAL_LOAD_TABLE",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "READ_DT_L0_TABLE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select MAX(@{item().DT_CCOLUMN}) as NEW_DT_VALUE from @{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DS_L0_TABLE_EDWH",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									}
								},
								{
									"name": "IMPROVE_INCREMENTAL_COPY_ACTIVITY",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "READ_DT_MD_TABLE",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "READ_DT_L0_TABLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().DT_CCOLUMN} > '@{activity('READ_DT_MD_TABLE').output.firstRow.DT_LAST_LOAD}' and @{item().DT_CCOLUMN} <= '@{activity('READ_DT_L0_TABLE').output.firstRow.NEW_DT_VALUE}'",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameForMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DS_L0_TABLE_EDWH",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									]
								},
								{
									"name": "StoredProceduretoWriteWatermarkActivity",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "IMPROVE_INCREMENTAL_COPY_ACTIVITY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_write_watermark]",
										"storedProcedureParameters": {
											"TableName": {
												"value": {
													"value": "@{activity('READ_DT_L0_TABLE').output.firstRow.TableName}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "CSP_EDWH_LINKED_SERVER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "object"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_L0_INCREMENTAL_LOAD_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_EDWH')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_IMPROVE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_INCREMENTAL_LOAD_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DN_SOURCE_TABLE",
						"type": "nvarchar"
					},
					{
						"name": "DT_LAST_LOAD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MD_IMPROVE_STAG_TABLES"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_TABLE_EDWH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ImproveTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ImproveTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_TABLE_IMPROVE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ImproveSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [
					"LOAD L0 TABLE FROM IMPROVE"
				],
				"type": "SqlServerTable",
				"schema": []
			},
			"dependsOn": []
		}
	]
}