CSP-EDWH/PartialArmTemplates/ArmTemplate_11_6_2019_16_27_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CSP-EDWH"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop_Load_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetExecParam').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Load_L0",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "LOAD_L0_TABLES",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DN_TABLE_NAME": {
												"value": "@item().DN_TABLE_NAME",
												"type": "Expression"
											},
											"DN_RIF_COLUMN": {
												"value": "@item().DN_RIF_COLUMN",
												"type": "Expression"
											},
											"DN_TABLE_TYPE": {
												"value": "@item().DN_TABLE_TYPE",
												"type": "Expression"
											},
											"DN_STORED_PROCEDURE": {
												"value": "@item().DN_STORED_PROCEDURE",
												"type": "Expression"
											},
											"DN_SOURCE": {
												"value": "@pipeline().parameters.DN_SOURCE",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GetExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L0_PARAMS]",
								"storedProcedureParameters": {
									"DN_SOURCE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"DN_SOURCE": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LOAD_L0_TABLES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_IMPROVE_L0')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSqlTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tablesList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LOOKUP_OLD_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[usp_get_rif_value]",
											"storedProcedureParameters": {
												"TableName": {
													"type": "String",
													"value": "{item().TABLE_NAME}"
												}
											}
										},
										"dataset": {
											"referenceName": "CSP_INCREMENTAL_LOAD",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "LOOKUP_NEW_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select MAX(@{item().Rif_Column}) as NewRifValue from @{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "INCREMENTAL_COPY_ACTIVITY",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LOOKUP_OLD_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LOOKUP_NEW_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().Rif_Column} > '@{activity('LOOKUP_OLD_LOAD').output.firstRow.RIF_VALUE}' and @{item().Rif_Column}  <= '@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewRifValue}'",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameForMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "CSP_EDWH_DATA_SET",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									]
								},
								{
									"name": "UpdateRifValue",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "INCREMENTAL_COPY_ACTIVITY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.usp_write_rif_value",
										"storedProcedureParameters": {
											"LastRefValue": {
												"value": {
													"value": "@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewRifValue}",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"TableName": {
												"value": {
													"value": "@{item().TABLE_NAME}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "CSP_EDWH_LINKED_SERVER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"tablesList": {
						"type": "object"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_TABLES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOKUP_OLD_LOAD",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
								"storedProcedureParameters": {
									"pDN_TABLE_NAME": {
										"type": "String",
										"value": {
											"value": "'@pipeline().parameters.DN_TABLE_NAME'",
											"type": "Expression"
										}
									},
									"pDN_SOURCE": {
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "INCREMENTAL_COPY_ACTIVITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_OLD_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": {
									"value": "@pipeline().parameters.DN_STORED_PROCEDURE",
									"type": "Expression"
								},
								"sqlWriterTableType": {
									"value": "@pipeline().parameters.DN_TABLE_TYPE",
									"type": "Expression"
								},
								"storedProcedureTableTypeParameterName": {
									"value": "@pipeline().parameters.DN_TABLE_NAME",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "DS_L0_TABLE_IMPROVE",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSP_EDWH_DATA_SET",
								"type": "DatasetReference",
								"parameters": {
									"ImproveTableName": {
										"value": "@pipeline().parameters.DN_TABLE_NAME",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"DN_TABLE_NAME": {
						"type": "string"
					},
					"DN_RIF_COLUMN": {
						"type": "string"
					},
					"DN_TABLE_TYPE": {
						"type": "string"
					},
					"DN_STORED_PROCEDURE": {
						"type": "string"
					},
					"DN_SOURCE": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_TABLES_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOKUP_OLD_LOAD",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
								"storedProcedureParameters": {
									"pDN_TABLE_NAME": {
										"type": "String",
										"value": {
											"value": "'@pipeline().parameters.DN_TABLE_NAME'",
											"type": "Expression"
										}
									},
									"pDN_SOURCE": {
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "INCREMENTAL_COPY_ACTIVITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_OLD_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": {
									"value": "@pipeline().parameters.DN_STORED_PROCEDURE",
									"type": "Expression"
								},
								"sqlWriterTableType": {
									"value": "@pipeline().parameters.DN_TABLE_TYPE",
									"type": "Expression"
								},
								"storedProcedureTableTypeParameterName": {
									"value": "@pipeline().parameters.DN_TABLE_NAME",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_L0_TABLE_IMPROVE",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSP_EDWH_DATA_SET",
								"type": "DatasetReference",
								"parameters": {
									"ImproveTableName": {
										"value": "@pipeline().parameters.DN_TABLE_NAME",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"DN_TABLE_NAME": {
						"type": "string"
					},
					"DN_RIF_COLUMN": {
						"type": "string"
					},
					"DN_TABLE_TYPE": {
						"type": "string"
					},
					"DN_STORED_PROCEDURE": {
						"type": "string"
					},
					"DN_SOURCE": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}