CSP-EDWH/PartialArmTemplates/ArmTemplate_11_7_2019_17_2_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CSP-EDWH"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractData_OLD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop_Load_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetExecParam').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Load_L0",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "LOAD_L0_TABLES_OLD",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DN_TABLE_NAME": {
												"value": "@item().DN_TABLE_NAME",
												"type": "Expression"
											},
											"DN_RIF_COLUMN": {
												"value": "@item().DN_RIF_COLUMN",
												"type": "Expression"
											},
											"DN_TABLE_TYPE": {
												"value": "@item().DN_TABLE_TYPE",
												"type": "Expression"
											},
											"DN_STORED_PROCEDURE": {
												"value": "@item().DN_STORED_PROCEDURE",
												"type": "Expression"
											},
											"DN_SOURCE": {
												"value": "@pipeline().parameters.DN_SOURCE",
												"type": "Expression"
											},
											"DN_OUT_TABLE_NAME": {
												"value": "@item().DN_OUT_TABLE_NAME",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GetExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L0_PARAMS]",
								"storedProcedureParameters": {
									"DN_SOURCE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"DN_SOURCE": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LOAD_L0_TABLES_OLD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOKUP_OLD_LOAD",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
								"storedProcedureParameters": {
									"pDN_TABLE_NAME": {
										"type": "String",
										"value": {
											"value": "'@pipeline().parameters.DN_TABLE_NAME'",
											"type": "Expression"
										}
									},
									"pDN_SOURCE": {
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "EDWH_DB",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "INCREMENTAL_COPY_ACTIVITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_OLD_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "delete from @{pipeline().parameters.DN_OUT_TABLE_NAME}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "DS_L0_TABLE_IMPROVE",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EDWH_LOAD_L0",
								"type": "DatasetReference",
								"parameters": {
									"DN_OUT_TABLE_NAME": {
										"value": "@pipeline().parameters.DN_OUT_TABLE_NAME",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "SET_START",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_ERROR_SET_START]",
								"storedProcedureParameters": {
									"pDN_STEP": {
										"type": "String",
										"value": {
											"value": "@concat('LOAD_' ,pipeline().parameters.DN_TABLE_NAME)",
											"type": "Expression"
										}
									},
									"pDN_STEP_DETAIL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_OUT_TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "EDWH_DB",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "SET_END_OK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INCREMENTAL_COPY_ACTIVITY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[MD_ERROR_END_OK]",
							"storedProcedureParameters": {
								"pID_RUN": {
									"value": {
										"value": "@activity('SET_START').output.FirstRow.ID_RUN",
										"type": "Expression"
									},
									"type": "int"
								},
								"pROWS_READ": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.rowsRead",
										"type": "Expression"
									},
									"type": "int"
								},
								"pROWS_WRITTEN": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.rowsCopied",
										"type": "Expression"
									},
									"type": "int"
								},
								"pCOPY_DURATION": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.copyDuration",
										"type": "Expression"
									},
									"type": "int"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "CSP_EDWH_LINKED_SERVER",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SET_END_KO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INCREMENTAL_COPY_ACTIVITY",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[MD_ERROR_END_KO]",
							"storedProcedureParameters": {
								"pID_RUN": {
									"value": {
										"value": "@activity('SET_START').output.FirstRow.ID_RUN",
										"type": "Expression"
									},
									"type": "int"
								},
								"pErrorMessage": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.errors[0].message",
										"type": "Expression"
									},
									"type": "string"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "CSP_EDWH_LINKED_SERVER",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"DN_TABLE_NAME": {
						"type": "string"
					},
					"DN_RIF_COLUMN": {
						"type": "string"
					},
					"DN_TABLE_TYPE": {
						"type": "string"
					},
					"DN_SOURCE": {
						"type": "string"
					},
					"DN_OUT_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EDWH_DB')]",
				"[concat(variables('factoryId'), '/datasets/EDWH_LOAD_L0')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_TABLES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop_Load_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetExecParam').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Load_L0",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "LOAD",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DN_TABLE_NAME": {
												"value": "@item().DN_TABLE_NAME",
												"type": "Expression"
											},
											"DN_RIF_COLUMN": {
												"value": "@item().DN_RIF_COLUMN",
												"type": "Expression"
											},
											"DN_TABLE_TYPE": {
												"value": "@item().DN_TABLE_TYPE",
												"type": "Expression"
											},
											"DN_SOURCE": {
												"value": "@pipeline().parameters.DN_SOURCE",
												"type": "Expression"
											},
											"DN_OUT_TABLE_NAME": {
												"value": "@item().DN_OUT_TABLE_NAME",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GetExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L0_PARAMS]",
								"storedProcedureParameters": {
									"DN_SOURCE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"DN_SOURCE": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LOAD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_TABLES_OLD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOKUP_OLD_LOAD",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
								"storedProcedureParameters": {
									"pDN_TABLE_NAME": {
										"type": "String",
										"value": {
											"value": "'@pipeline().parameters.DN_TABLE_NAME'",
											"type": "Expression"
										}
									},
									"pDN_SOURCE": {
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "INCREMENTAL_COPY_ACTIVITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_OLD_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "delete from @{pipeline().parameters.DN_OUT_TABLE_NAME}",
									"type": "Expression"
								},
								"sqlWriterStoredProcedureName": {
									"value": "@pipeline().parameters.DN_STORED_PROCEDURE",
									"type": "Expression"
								},
								"sqlWriterTableType": {
									"value": "@pipeline().parameters.DN_TABLE_TYPE",
									"type": "Expression"
								},
								"storedProcedureTableTypeParameterName": {
									"value": "@pipeline().parameters.DN_TABLE_NAME",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "DS_L0_TABLE_IMPROVE",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSP_EDWH_DATA_SET",
								"type": "DatasetReference",
								"parameters": {
									"ImproveTableName": "@{pipeline().parameters.DN_TABLE_NAME}"
								}
							}
						]
					}
				],
				"parameters": {
					"DN_TABLE_NAME": {
						"type": "string"
					},
					"DN_RIF_COLUMN": {
						"type": "string"
					},
					"DN_TABLE_TYPE": {
						"type": "string"
					},
					"DN_STORED_PROCEDURE": {
						"type": "string"
					},
					"DN_SOURCE": {
						"type": "string"
					},
					"DN_OUT_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_EDWH_DATA_SET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSP_EDWH_DATA_SET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ImproveTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ImproveTableName",
						"type": "Expression"
					},
					"table": {
						"value": "@{pipeline().parameters.DN_OUT_TABLE_NAME}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWH_DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWH_LOAD_L0')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DN_OUT_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TenantId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "LastModificationTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifierUserId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CreationTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatorUserId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "EmployeeId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "TimeFlowId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SignedByEmployee",
						"type": "bit"
					},
					{
						"name": "SignedByEmployeeInDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().DN_OUT_TABLE_NAME",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}