CSP-EDWH/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CSP-EDWH"
		},
		"AS_SQL_SERVER_LIKED_SERVER_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AS_SQL_SERVER_LIKED_SERVER'"
		},
		"AS_SQL_SERVER_LIKED_SERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AS_SQL_SERVER_LIKED_SERVER'"
		},
		"CSP_EDWH_LINKED_SERVER_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CSP_EDWH_LINKED_SERVER'"
		},
		"ImproveSource_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ImproveSource'"
		},
		"LS_CSPTO_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_CSPTO'"
		},
		"AS_SQL_SERVER_LIKED_SERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ITAdmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractData_OLD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop_Load_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetExecParam').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Load_L0",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "LOAD_L0_TABLES_OLD",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DN_TABLE_NAME": {
												"value": "@item().DN_TABLE_NAME",
												"type": "Expression"
											},
											"DN_RIF_COLUMN": {
												"value": "@item().DN_RIF_COLUMN",
												"type": "Expression"
											},
											"DN_TABLE_TYPE": {
												"value": "@item().DN_TABLE_TYPE",
												"type": "Expression"
											},
											"DN_STORED_PROCEDURE": {
												"value": "@item().DN_STORED_PROCEDURE",
												"type": "Expression"
											},
											"DN_SOURCE": {
												"value": "@pipeline().parameters.DN_SOURCE",
												"type": "Expression"
											},
											"DN_OUT_TABLE_NAME": {
												"value": "@item().DN_OUT_TABLE_NAME",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GetExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L0_PARAMS]",
								"storedProcedureParameters": {
									"DN_SOURCE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"DN_SOURCE": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/pipelines/LOAD_L0_TABLES_OLD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOKUP_OLD_LOAD",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
								"storedProcedureParameters": {
									"pDN_TABLE_NAME": {
										"type": "String",
										"value": {
											"value": "'@pipeline().parameters.DN_TABLE_NAME'",
											"type": "Expression"
										}
									},
									"pDN_SOURCE": {
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "EDWH_DB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "INCREMENTAL_COPY_ACTIVITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_OLD_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "delete from @{pipeline().parameters.DN_OUT_TABLE_NAME}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "DS_L0_TABLE_IMPROVE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "EDWH_LOAD_L0",
								"type": "DatasetReference",
								"parameters": {
									"DN_OUT_TABLE_NAME": {
										"value": "@pipeline().parameters.DN_OUT_TABLE_NAME",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "SET_START",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_ERROR_SET_START]",
								"storedProcedureParameters": {
									"pDN_STEP": {
										"type": "String",
										"value": {
											"value": "@concat('LOAD_' ,pipeline().parameters.DN_TABLE_NAME)",
											"type": "Expression"
										}
									},
									"pDN_STEP_DETAIL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_OUT_TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "EDWH_DB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET_END_OK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INCREMENTAL_COPY_ACTIVITY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[MD_ERROR_END_OK]",
							"storedProcedureParameters": {
								"pID_RUN": {
									"value": {
										"value": "@activity('SET_START').output.FirstRow.ID_RUN",
										"type": "Expression"
									},
									"type": "int"
								},
								"pROWS_READ": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.rowsRead",
										"type": "Expression"
									},
									"type": "int"
								},
								"pROWS_WRITTEN": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.rowsCopied",
										"type": "Expression"
									},
									"type": "int"
								},
								"pCOPY_DURATION": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.copyDuration",
										"type": "Expression"
									},
									"type": "int"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "CSP_EDWH_LINKED_SERVER",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SET_END_KO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INCREMENTAL_COPY_ACTIVITY",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[MD_ERROR_END_KO]",
							"storedProcedureParameters": {
								"pID_RUN": {
									"value": {
										"value": "@activity('SET_START').output.FirstRow.ID_RUN",
										"type": "Expression"
									},
									"type": "int"
								},
								"pErrorMessage": {
									"value": {
										"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.errors[0].message",
										"type": "Expression"
									},
									"type": "string"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "CSP_EDWH_LINKED_SERVER",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"DN_TABLE_NAME": {
						"type": "string"
					},
					"DN_RIF_COLUMN": {
						"type": "string"
					},
					"DN_TABLE_TYPE": {
						"type": "string"
					},
					"DN_SOURCE": {
						"type": "string"
					},
					"DN_OUT_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EDWH_DB')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_IMPROVE')]",
				"[concat(variables('factoryId'), '/datasets/EDWH_LOAD_L0')]",
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_IMPROVE_L0')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSqlTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tablesList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LOOKUP_OLD_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[usp_get_rif_value]",
											"storedProcedureParameters": {
												"TableName": {
													"type": "String",
													"value": "{item().TABLE_NAME}"
												}
											}
										},
										"dataset": {
											"referenceName": "CSP_INCREMENTAL_LOAD",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "LOOKUP_NEW_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select MAX(@{item().Rif_Column}) as NewRifValue from @{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "INCREMENTAL_COPY_ACTIVITY",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LOOKUP_OLD_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LOOKUP_NEW_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().Rif_Column} > '@{activity('LOOKUP_OLD_LOAD').output.firstRow.RIF_VALUE}' and @{item().Rif_Column}  <= '@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewRifValue}'",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameForMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CSP_EDWH_DATA_SET",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									]
								},
								{
									"name": "UpdateRifValue",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "INCREMENTAL_COPY_ACTIVITY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.usp_write_rif_value",
										"storedProcedureParameters": {
											"LastRefValue": {
												"value": {
													"value": "@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewRifValue}",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"TableName": {
												"value": {
													"value": "@{item().TABLE_NAME}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "CSP_EDWH_LINKED_SERVER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"tablesList": {
						"type": "object"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_IMPROVE')]",
				"[concat(variables('factoryId'), '/datasets/CSP_EDWH_DATA_SET')]",
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_IMPROVE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LOOKUP_OLD_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from watermarktable where TableName  =  '@{item().TABLE_NAME}'",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "CSP_INCREMENTAL_LOAD",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "LOOKUP_NEW_LOAD",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "AS_SQL_SERVER_DATA_SET",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "INCREMENTAL_COPY_ACTIVITY",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LOOKUP_OLD_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LOOKUP_NEW_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('LOOKUP_OLD_LOAD').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewWatermarkvalue}'",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameForMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "AS_SQL_SERVER_DATA_SET",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CSP_EDWH_DATA_SET",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									]
								},
								{
									"name": "StoredProceduretoWriteWatermarkActivity",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "INCREMENTAL_COPY_ACTIVITY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_write_watermark]",
										"storedProcedureParameters": {
											"LastModifiedtime": {
												"value": {
													"value": "@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewWatermarkvalue}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TableName": {
												"value": {
													"value": "@{activity('LOOKUP_OLD_LOAD').output.firstRow.TableName}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "CSP_EDWH_LINKED_SERVER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "object"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/datasets/AS_SQL_SERVER_DATA_SET')]",
				"[concat(variables('factoryId'), '/datasets/CSP_EDWH_DATA_SET')]",
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_IMPROVE1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "READ_DT_MD_TABLE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from MD_IMPROVE_STAG_TABLES where DN_SOURCE_TABLE  =  '@{item().TABLE_NAME}'",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DS_L0_INCREMENTAL_LOAD_TABLE",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "READ_DT_L0_TABLE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select MAX(@{item().DT_CCOLUMN}) as NEW_DT_VALUE from @{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DS_L0_TABLE_EDWH",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									}
								},
								{
									"name": "IMPROVE_INCREMENTAL_COPY_ACTIVITY",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "READ_DT_MD_TABLE",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "READ_DT_L0_TABLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().DT_CCOLUMN} > '@{activity('READ_DT_MD_TABLE').output.firstRow.DT_LAST_LOAD}' and @{item().DT_CCOLUMN} <= '@{activity('READ_DT_L0_TABLE').output.firstRow.NEW_DT_VALUE}'",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameForMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_L0_TABLE_IMPROVE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_L0_TABLE_EDWH",
											"type": "DatasetReference",
											"parameters": {
												"ImproveTableName": "@{item().TABLE_NAME}"
											}
										}
									]
								},
								{
									"name": "StoredProceduretoWriteWatermarkActivity",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "IMPROVE_INCREMENTAL_COPY_ACTIVITY",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_write_watermark]",
										"storedProcedureParameters": {
											"TableName": {
												"value": {
													"value": "@{activity('READ_DT_L0_TABLE').output.firstRow.TableName}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "CSP_EDWH_LINKED_SERVER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "object"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_L0_INCREMENTAL_LOAD_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_EDWH')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_IMPROVE')]",
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_TABLES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop_Load_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetExecParam').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Load_L0",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "LOAD",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DN_TABLE_NAME": {
												"value": "@item().DN_TABLE_NAME",
												"type": "Expression"
											},
											"DN_RIF_COLUMN": {
												"value": "@item().DN_RIF_COLUMN",
												"type": "Expression"
											},
											"DN_TABLE_TYPE": {
												"value": "@item().DN_TABLE_TYPE",
												"type": "Expression"
											},
											"DN_SOURCE": {
												"value": "@pipeline().parameters.DN_SOURCE",
												"type": "Expression"
											},
											"DN_OUT_TABLE_NAME": {
												"value": "@item().DN_OUT_TABLE_NAME",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GetExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L0_PARAMS]",
								"storedProcedureParameters": {
									"DN_SOURCE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"DN_SOURCE": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/pipelines/LOAD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L0_TABLES_OLD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOKUP_OLD_LOAD",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
								"storedProcedureParameters": {
									"pDN_TABLE_NAME": {
										"type": "String",
										"value": {
											"value": "'@pipeline().parameters.DN_TABLE_NAME'",
											"type": "Expression"
										}
									},
									"pDN_SOURCE": {
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "INCREMENTAL_COPY_ACTIVITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_OLD_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "delete from @{pipeline().parameters.DN_OUT_TABLE_NAME}",
									"type": "Expression"
								},
								"sqlWriterStoredProcedureName": {
									"value": "@pipeline().parameters.DN_STORED_PROCEDURE",
									"type": "Expression"
								},
								"sqlWriterTableType": {
									"value": "@pipeline().parameters.DN_TABLE_TYPE",
									"type": "Expression"
								},
								"storedProcedureTableTypeParameterName": {
									"value": "@pipeline().parameters.DN_TABLE_NAME",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "DS_L0_TABLE_IMPROVE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSP_EDWH_DATA_SET",
								"type": "DatasetReference",
								"parameters": {
									"ImproveTableName": "@{pipeline().parameters.DN_TABLE_NAME}"
								}
							}
						]
					}
				],
				"parameters": {
					"DN_TABLE_NAME": {
						"type": "string"
					},
					"DN_RIF_COLUMN": {
						"type": "string"
					},
					"DN_TABLE_TYPE": {
						"type": "string"
					},
					"DN_STORED_PROCEDURE": {
						"type": "string"
					},
					"DN_SOURCE": {
						"type": "string"
					},
					"DN_OUT_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_IMPROVE')]",
				"[concat(variables('factoryId'), '/datasets/CSP_EDWH_DATA_SET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_SQL_SERVER_DATA_SET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AS_SQL_SERVER_LIKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AS_SQL_SERVER_LIKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSP_EDWH_DATA_SET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ImproveTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ImproveTableName",
						"type": "Expression"
					},
					"table": {
						"value": "@{pipeline().parameters.DN_OUT_TABLE_NAME}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSP_INCREMENTAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "WatermarkValue",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_INCREMENTAL_LOAD_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DN_SOURCE_TABLE",
						"type": "nvarchar"
					},
					{
						"name": "DT_LAST_LOAD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MD_IMPROVE_STAG_TABLES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_TABLE_EDWH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ImproveTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ImproveTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_TABLE_IMPROVE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ImproveSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [
					"LOAD L0 TABLE FROM IMPROVE"
				],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ImproveSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWH_DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWH_LOAD_L0')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DN_OUT_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TenantId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "LastModificationTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifierUserId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CreationTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatorUserId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "EmployeeId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "TimeFlowId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SignedByEmployee",
						"type": "bit"
					},
					{
						"name": "SignedByEmployeeInDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().DN_OUT_TABLE_NAME",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_SQL_SERVER_LIKED_SERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AS_SQL_SERVER_LIKED_SERVER_connectionString')]",
					"userName": "[parameters('AS_SQL_SERVER_LIKED_SERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AS_SQL_SERVER_LIKED_SERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AS-PC-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AS-PC-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSP_EDWH_LINKED_SERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('CSP_EDWH_LINKED_SERVER_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ImproveSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ImproveSource_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSPTO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_CSPTO_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SOURCE-CSPTO",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-SOURCE-CSPTO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS-PC-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-SOURCE-CSPTO')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/save')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}