CSP-EDWH/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CSP-EDWH"
		},
		"CSP_EDWH_LINKED_SERVER_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CSP_EDWH_LINKED_SERVER'"
		},
		"ImproveSource_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ImproveSource'"
		},
		"AS_SQL_SERVER_LIKED_SERVER_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AS_SQL_SERVER_LIKED_SERVER'"
		},
		"AS_SQL_SERVER_LIKED_SERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AS_SQL_SERVER_LIKED_SERVER'"
		},
		"LS_CSPTO_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_CSPTO'"
		},
		"AS_SQL_SERVER_LIKED_SERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ITAdmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CSP_EDWH_LINKED_SERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('CSP_EDWH_LINKED_SERVER_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ImproveSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ImproveSource_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS-PC-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-SOURCE-CSPTO')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/save')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSP_EDWH_DATA_SET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ImproveTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ImproveTableName",
						"type": "Expression"
					},
					"table": {
						"value": "@{pipeline().parameters.DN_OUT_TABLE_NAME}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSP_INCREMENTAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "WatermarkValue",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_INCREMENTAL_LOAD_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DN_SOURCE_TABLE",
						"type": "nvarchar"
					},
					{
						"name": "DT_LAST_LOAD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MD_IMPROVE_STAG_TABLES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_TABLE_EDWH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ImproveTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ImproveTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_TABLE_IMPROVE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ImproveSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [
					"LOAD L0 TABLE FROM IMPROVE"
				],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ImproveSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWH_DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWH_LOAD_L0')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DN_TARGET": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TenantId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "LastModificationTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifierUserId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CreationTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatorUserId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "EmployeeId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "TimeFlowId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SignedByEmployee",
						"type": "bit"
					},
					{
						"name": "SignedByEmployeeInDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().DN_TARGET",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_SQL_SERVER_LIKED_SERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AS_SQL_SERVER_LIKED_SERVER_connectionString')]",
					"userName": "[parameters('AS_SQL_SERVER_LIKED_SERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AS_SQL_SERVER_LIKED_SERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AS-PC-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AS-PC-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSPTO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_CSPTO_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SOURCE-CSPTO",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-SOURCE-CSPTO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_IMPR_L0')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop_Load_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetExecParam').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SET_START",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[MD_ERROR_SET_START]",
											"storedProcedureParameters": {
												"pDN_STEP": {
													"type": "String",
													"value": {
														"value": "@concat('LOAD_' ,pipeline().parameters.DN_SOURCE,'_',item().DN_TABLE_NAME)",
														"type": "Expression"
													}
												},
												"pDN_STEP_DETAIL": {
													"type": "String",
													"value": {
														"value": "@item().DN_TARGET",
														"type": "Expression"
													}
												}
											}
										},
										"dataset": {
											"referenceName": "EDWH_DB",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "LOAD_IMPR_TARGET",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SET_START",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().DN_RIF_COLUMN,'ALL')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "LOAD_IMPR_TARGET_TABLES",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "GET_REF_DATE",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().DN_TABLE_NAME} where @{item().DN_RIF_COLUMN} > \n '@{activity('GET_REF_DATE').output.firstRow.DT_START}'",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "delete from @{item().DN_TARGET}",
															"type": "Expression"
														},
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"parallelCopies": 1
												},
												"inputs": [
													{
														"referenceName": "DS_L0_TABLE_IMPROVE",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "EDWH_LOAD_L0",
														"type": "DatasetReference",
														"parameters": {
															"DN_TARGET": {
																"value": "@item().DN_TARGET",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SET_END_OK",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_IMPR_TARGET_TABLES",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_OK]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_READ": {
															"value": {
																"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.rowsRead",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.rowsCopied",
																"type": "Expression"
															},
															"type": "int"
														},
														"pCOPY_DURATION": {
															"value": {
																"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.copyDuration",
																"type": "Expression"
															},
															"type": "int"
														},
														"pDATA_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"pDESCR": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SET_END_KO",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_IMPR_TARGET_TABLES",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_KO]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pErrorMessage": {
															"value": {
																"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.errors[0].message",
																"type": "Expression"
															},
															"type": "string"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "GET_REF_DATE",
												"description": "Estrae dal DB la data di riferimento per l'estrazione del passo successivo",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
														"storedProcedureParameters": {
															"pDN_TABLE_NAME": {
																"type": "String",
																"value": {
																	"value": "@item().DN_TABLE_NAME",
																	"type": "Expression"
																}
															},
															"pDN_SOURCE": {
																"value": {
																	"value": "@pipeline().parameters.DN_SOURCE",
																	"type": "Expression"
																}
															}
														}
													},
													"dataset": {
														"referenceName": "EDWH_DB",
														"type": "DatasetReference",
														"parameters": {}
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "LOAD_IMPR_ALL_TARGET_TABLES",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().DN_TABLE_NAME} ",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "delete from @{item().DN_TARGET}",
															"type": "Expression"
														},
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"parallelCopies": 1
												},
												"inputs": [
													{
														"referenceName": "DS_L0_TABLE_IMPROVE",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "EDWH_LOAD_L0",
														"type": "DatasetReference",
														"parameters": {
															"DN_TARGET": {
																"value": "@item().DN_TARGET",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SET_END_OK_ALL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_IMPR_ALL_TARGET_TABLES",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_OK]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_READ": {
															"value": {
																"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.rowsRead",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.rowsCopied",
																"type": "Expression"
															},
															"type": "int"
														},
														"pCOPY_DURATION": {
															"value": {
																"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.copyDuration",
																"type": "Expression"
															},
															"type": "int"
														},
														"pDATA_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"pDESCR": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SET_END_KO_ALL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_IMPR_ALL_TARGET_TABLES",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_KO]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pErrorMessage": {
															"value": {
																"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.errors[0].message",
																"type": "Expression"
															},
															"type": "string"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "GetExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L0_PARAMS]",
								"storedProcedureParameters": {
									"DN_SOURCE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"DN_SOURCE": {
						"type": "string",
						"defaultValue": "IMPR"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/datasets/EDWH_DB')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_IMPROVE')]",
				"[concat(variables('factoryId'), '/datasets/EDWH_LOAD_L0')]",
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_L1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOP_OVER_PROC_NAMES",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET_STORED_NAMES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_STORED_NAMES').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "EXEC_STORED_PROC",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@item().DN_STORED_NAME",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "CSP_EDWH_LINKED_SERVER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GET_STORED_NAMES",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L1_STORED]"
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_SQL_SERVER_DATA_SET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AS_SQL_SERVER_LIKED_SERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AS_SQL_SERVER_LIKED_SERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_L0_TABLE_ROL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSPTO",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CSPTO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_ROL_L0')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop_Load_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetExecParam').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SET_START",
									"description": "Inserisce un'occorrenza sulla tabella di LOG impostando DT_START con getdate()",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[MD_ERROR_SET_START]",
											"storedProcedureParameters": {
												"pDN_STEP": {
													"type": "String",
													"value": {
														"value": "@concat('LOAD_' ,pipeline().parameters.DN_SOURCE,'_',item().DN_TABLE_NAME)",
														"type": "Expression"
													}
												},
												"pDN_STEP_DETAIL": {
													"type": "String",
													"value": {
														"value": "@item().DN_TARGET",
														"type": "Expression"
													}
												}
											}
										},
										"dataset": {
											"referenceName": "EDWH_DB",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "LOAD_ROL_TARGET",
									"description": "Processo di caricamento dei dati sulle tabelle di staging (L0) del source ROL",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SET_START",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().DN_RIF_COLUMN,'ALL')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "LOAD_ROL_TARGET_TABLES",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "GET_REF_DATE",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().DN_TABLE_NAME} where @{item().DN_RIF_COLUMN} > \n '@{activity('GET_REF_DATE').output.firstRow.DT_START}'",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "delete from @{item().DN_TARGET}",
															"type": "Expression"
														},
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"parallelCopies": 1
												},
												"inputs": [
													{
														"referenceName": "DS_L0_TABLE_ROL",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "EDWH_LOAD_L0",
														"type": "DatasetReference",
														"parameters": {
															"DN_TARGET": {
																"value": "@item().DN_TARGET",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SET_END_OK",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_ROL_TARGET_TABLES",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_OK]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_READ": {
															"value": {
																"value": "@activity('LOAD_ROL_TARGET_TABLES').output.rowsRead",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_ROL_TARGET_TABLES').output.rowsCopied",
																"type": "Expression"
															},
															"type": "int"
														},
														"pCOPY_DURATION": {
															"value": {
																"value": "@activity('LOAD_ROL_TARGET_TABLES').output.copyDuration",
																"type": "Expression"
															},
															"type": "int"
														},
														"pDATA_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_ROL_TARGET_TABLES').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"pDESCR": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SET_END_KO",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_ROL_TARGET_TABLES",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_KO]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pErrorMessage": {
															"value": {
																"value": "@activity('LOAD_ROL_TARGET_TABLES').output.errors[0].message",
																"type": "Expression"
															},
															"type": "string"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "GET_REF_DATE",
												"description": "Estrae dal DB la data di riferimento per l'estrazione del passo successivo",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[[dbo].[MD_GET_START_DATE]",
														"storedProcedureParameters": {
															"pDN_TABLE_NAME": {
																"type": "String",
																"value": {
																	"value": "@item().DN_TABLE_NAME",
																	"type": "Expression"
																}
															},
															"pDN_SOURCE": {
																"value": {
																	"value": "@pipeline().parameters.DN_SOURCE",
																	"type": "Expression"
																}
															}
														}
													},
													"dataset": {
														"referenceName": "EDWH_DB",
														"type": "DatasetReference",
														"parameters": {}
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "LOAD_ROL_ALL_TARGET_TABLES",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().DN_TABLE_NAME} \n",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "delete from @{item().DN_TARGET}",
															"type": "Expression"
														},
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"parallelCopies": 1
												},
												"inputs": [
													{
														"referenceName": "DS_L0_TABLE_ROL",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "EDWH_LOAD_L0",
														"type": "DatasetReference",
														"parameters": {
															"DN_TARGET": {
																"value": "@item().DN_TARGET",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SET_END_OK_ALL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_ROL_ALL_TARGET_TABLES",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_OK]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_READ": {
															"value": {
																"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.rowsRead",
																"type": "Expression"
															},
															"type": "int"
														},
														"pROWS_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.rowsCopied",
																"type": "Expression"
															},
															"type": "int"
														},
														"pCOPY_DURATION": {
															"value": {
																"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.copyDuration",
																"type": "Expression"
															},
															"type": "int"
														},
														"pDATA_WRITTEN": {
															"value": {
																"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.dataWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"pDESCR": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SET_END_KO_ALL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LOAD_ROL_ALL_TARGET_TABLES",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[MD_ERROR_END_KO]",
													"storedProcedureParameters": {
														"pID_RUN": {
															"value": {
																"value": "@activity('SET_START').output.FirstRow.ID_RUN",
																"type": "Expression"
															},
															"type": "int"
														},
														"pErrorMessage": {
															"value": {
																"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.errors[0].message",
																"type": "Expression"
															},
															"type": "string"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "CSP_EDWH_LINKED_SERVER",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "GetExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MD_LOAD_L0_PARAMS]",
								"storedProcedureParameters": {
									"DN_SOURCE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DN_SOURCE",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "CSP_INCREMENTAL_LOAD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"DN_SOURCE": {
						"type": "string",
						"defaultValue": "ROL"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSP_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/datasets/EDWH_DB')]",
				"[concat(variables('factoryId'), '/datasets/DS_L0_TABLE_ROL')]",
				"[concat(variables('factoryId'), '/datasets/EDWH_LOAD_L0')]",
				"[concat(variables('factoryId'), '/linkedServices/CSP_EDWH_LINKED_SERVER')]"
			]
		}
	]
}