factorydata/pipeline/ExtractData.json
{
	"name": "ExtractData",
	"properties": {
		"activities": [
			{
				"name": "Loop_Load_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetExecParam",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetExecParam').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "LOAD_L0_TABLES",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DN_TABLE_NAME": {
										"value": "@item().DN_TABLE_NAME",
										"type": "Expression"
									},
									"DN_RIF_COLUMN": "@item().DN_RIF_COLUMN",
									"DN_TABLE_TYPE": "@item().DN_TABLE_TYPE",
									"DN_STORED_PROCEDURE": "@item().DN_STORED_PROCEDURE"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetExecParam",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LOAD_L0]",
						"storedProcedureParameters": {
							"DN_SOURCE": {
								"type": "String"
							}
						}
					},
					"dataset": {
						"referenceName": "CSP_INCREMENTAL_LOAD",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}