factorydata/pipeline/ExtractData.json
{
	"name": "ExtractData",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetExecParam",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetExecParam').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "LOAD_IMPROVE_L0",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TABLE_NAME": {
										"value": "@activity('GetExecParam').output.TABLE_NAME",
										"type": "Expression"
									},
									"Rif_Column": "'@{activity('GetExecParam').output.RIF_COLUMN}'",
									"TableType": "'@{activity('GetExecParam').output.TABLE_TYPE}'",
									"StoredProcedureNameForMergeOperation": "'@{activity('GetExecParam').output.STORED_PROCEDURE}'"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetExecParam",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_get_exec_params]"
					},
					"dataset": {
						"referenceName": "CSP_INCREMENTAL_LOAD",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}