factorydata/pipeline/IMPROVE_INCREMENTAL_LOAD.json
{
	"name": "IMPROVE_INCREMENTAL_LOAD",
	"properties": {
		"activities": [
			{
				"name": "IterateSQLTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LOOKUP_OLD_LOAD",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select * from watermarktable where TableName  =  '@{item().TABLE_NAME}'"
								},
								"dataset": {
									"referenceName": "CSP_INCREMENTAL_LOAD",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LOOKUP_NEW_LOAD",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}"
								},
								"dataset": {
									"referenceName": "AS_SQL_SERVER_DATA_SET",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "INCREMENTAL_COPY_ACTIVITY",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LOOKUP_OLD_LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LOOKUP_NEW_LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AS_SQL_SERVER_DATA_SET",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"tableList ": {
				"type": "object"
			}
		},
		"annotations": []
	}
}