factorydata/pipeline/LOAD_IMPR.json
{
	"name": "LOAD_IMPR",
	"properties": {
		"activities": [
			{
				"name": "LOAD_IMPR_SOURCE_TABLES",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MD_GET_START_DATE]",
						"storedProcedureParameters": {
							"pDN_TABLE_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DN_TABLE_NAME",
									"type": "Expression"
								}
							},
							"pDN_SOURCE": {
								"value": {
									"value": "@pipeline().parameters.DN_SOURCE",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "EDWH_DB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_START",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MD_ERROR_SET_START]",
						"storedProcedureParameters": {
							"pDN_STEP": {
								"type": "String",
								"value": {
									"value": "@concat('LOAD_' ,pipeline().parameters.DN_SOURCE,'_',pipeline().parameters.DN_TABLE_NAME)",
									"type": "Expression"
								}
							},
							"pDN_STEP_DETAIL": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DN_TARGET",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "EDWH_DB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LOAD_IMPR_SOURCE_TABLES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.DN_RIF_COLUMN,'ALL')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "LOAD_IMPR_TARGET_TABLES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "delete from @{pipeline().parameters.DN_TARGET}",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"parallelCopies": 1
							},
							"inputs": [
								{
									"referenceName": "DS_L0_TABLE_IMPROVE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "EDWH_LOAD_L0",
									"type": "DatasetReference",
									"parameters": {
										"DN_TARGET": {
											"value": "@pipeline().parameters.DN_TARGET",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SET_END_OK_copy1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LOAD_IMPR_TARGET_TABLES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[MD_ERROR_END_OK]",
								"storedProcedureParameters": {
									"pID_RUN": {
										"value": {
											"value": "@activity('SET_START').output.FirstRow.ID_RUN",
											"type": "Expression"
										},
										"type": "int"
									},
									"pROWS_READ": {
										"value": {
											"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.rowsRead",
											"type": "Expression"
										},
										"type": "int"
									},
									"pROWS_WRITTEN": {
										"value": {
											"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.rowsCopied",
											"type": "Expression"
										},
										"type": "int"
									},
									"pCOPY_DURATION": {
										"value": {
											"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.copyDuration",
											"type": "Expression"
										},
										"type": "int"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CSP_EDWH_LINKED_SERVER",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SET_END_KO_copy1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LOAD_IMPR_TARGET_TABLES",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[MD_ERROR_END_KO]",
								"storedProcedureParameters": {
									"pID_RUN": {
										"value": {
											"value": "@activity('SET_START').output.FirstRow.ID_RUN",
											"type": "Expression"
										},
										"type": "int"
									},
									"pErrorMessage": {
										"value": {
											"value": "@activity('LOAD_IMPR_TARGET_TABLES').output.errors[0].message",
											"type": "Expression"
										},
										"type": "string"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CSP_EDWH_LINKED_SERVER",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LOAD_IMPR_ALL_TARGET_TABLES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select * from @{pipeline().parameters.DN_TABLE_NAME} "
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "delete from @{pipeline().parameters.DN_TARGET}",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"parallelCopies": 1
							},
							"inputs": [
								{
									"referenceName": "DS_L0_TABLE_IMPROVE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "EDWH_LOAD_L0",
									"type": "DatasetReference",
									"parameters": {
										"DN_TARGET": {
											"value": "@pipeline().parameters.DN_TARGET",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SET_END_OK_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LOAD_IMPR_ALL_TARGET_TABLES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[MD_ERROR_END_OK]",
								"storedProcedureParameters": {
									"pID_RUN": {
										"value": {
											"value": "@activity('SET_START').output.FirstRow.ID_RUN",
											"type": "Expression"
										},
										"type": "int"
									},
									"pROWS_READ": {
										"value": {
											"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.rowsRead",
											"type": "Expression"
										},
										"type": "int"
									},
									"pROWS_WRITTEN": {
										"value": {
											"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.rowsCopied",
											"type": "Expression"
										},
										"type": "int"
									},
									"pCOPY_DURATION": {
										"value": {
											"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.copyDuration",
											"type": "Expression"
										},
										"type": "int"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CSP_EDWH_LINKED_SERVER",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SET_END_KO_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LOAD_IMPR_ALL_TARGET_TABLES",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[MD_ERROR_END_KO]",
								"storedProcedureParameters": {
									"pID_RUN": {
										"value": {
											"value": "@activity('SET_START').output.FirstRow.ID_RUN",
											"type": "Expression"
										},
										"type": "int"
									},
									"pErrorMessage": {
										"value": {
											"value": "@activity('LOAD_IMPR_ALL_TARGET_TABLES').output.errors[0].message",
											"type": "Expression"
										},
										"type": "string"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CSP_EDWH_LINKED_SERVER",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DN_TABLE_NAME": {
				"type": "string"
			},
			"DN_RIF_COLUMN": {
				"type": "string"
			},
			"DN_TABLE_TYPE": {
				"type": "string"
			},
			"DN_SOURCE": {
				"type": "string"
			},
			"DN_TARGET": {
				"type": "string"
			}
		},
		"annotations": []
	}
}