factorydata/pipeline/LOAD_IMPROVE_L0.json
{
	"name": "LOAD_IMPROVE_L0",
	"properties": {
		"activities": [
			{
				"name": "IterateSqlTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "LOOKUP_OLD_LOAD",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}"
								},
								"dataset": {
									"referenceName": "CSP_INCREMENTAL_LOAD",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LOOKUP_NEW_LOAD",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}"
								},
								"dataset": {
									"referenceName": "DS_L0_TABLE_IMPROVE",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "INCREMENTAL_COPY_ACTIVITY",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LOOKUP_OLD_LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LOOKUP_NEW_LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('LOOKUP_OLD_LOAD').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewWatermarkvalue}'"
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": "@{item().StoredProcedureNameForMergeOperation}",
									"sqlWriterTableType": "@{item().TableType}",
									"storedProcedureTableTypeParameterName": "@{item().TABLE_NAME}"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_L0_TABLE_IMPROVE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CSP_EDWH_DATA_SET",
									"type": "DatasetReference",
									"parameters": {
										"ImproveTableName": "@{item().TABLE_NAME}"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"tablesList": {
				"type": "object"
			}
		},
		"annotations": []
	}
}