factorydata/pipeline/LOAD_L0_TABLES_1.json
{
	"name": "LOAD_L0_TABLES_1",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_OLD_LOAD",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MD_GET_START_DATE]",
						"storedProcedureParameters": {
							"pDN_TABLE_NAME": {
								"type": "String",
								"value": {
									"value": "'@pipeline().parameters.DN_TABLE_NAME'",
									"type": "Expression"
								}
							},
							"pDN_SOURCE": {
								"value": {
									"value": "@pipeline().parameters.DN_SOURCE",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "CSP_INCREMENTAL_LOAD",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "INCREMENTAL_COPY_ACTIVITY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOOKUP_OLD_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": {
							"value": "@pipeline().parameters.DN_STORED_PROCEDURE",
							"type": "Expression"
						},
						"sqlWriterTableType": {
							"value": "@pipeline().parameters.DN_TABLE_TYPE",
							"type": "Expression"
						},
						"storedProcedureTableTypeParameterName": {
							"value": "@pipeline().parameters.DN_TABLE_NAME",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_L0_TABLE_IMPROVE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSP_EDWH_DATA_SET",
						"type": "DatasetReference",
						"parameters": {
							"ImproveTableName": {
								"value": "@pipeline().parameters.DN_TABLE_NAME",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"DN_TABLE_NAME": {
				"type": "string"
			},
			"DN_RIF_COLUMN": {
				"type": "string"
			},
			"DN_TABLE_TYPE": {
				"type": "string"
			},
			"DN_STORED_PROCEDURE": {
				"type": "string"
			},
			"DN_SOURCE": {
				"type": "string"
			}
		},
		"annotations": []
	}
}