factorydata/pipeline/LOAD_L0_SIME.json
{
	"name": "LOAD_L0_SIME",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set EDWH Server Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_L0_TABLE_SIME",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDWH_LOAD_L0",
						"type": "DatasetReference",
						"parameters": {
							"DN_TARGET": "L0_SIME_COBOL_BNXLSTOM",
							"serverName": "@variables('EDWHServer_Name')"
						}
					}
				]
			},
			{
				"name": "Set EDWH Server Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EDWHServerName",
					"value": "@if(equals(pipeline().parameters.EXEC_ENV,'svil'),variables('EDWH_SVIL_Server_Name'),variables('EDWH_PROD_Server_Name'))"
				}
			}
		],
		"parameters": {
			"EXEC_ENV": {
				"type": "string",
				"defaultValue": "svil"
			}
		},
		"variables": {
			"EDWH_PROD_Server_Name": {
				"type": "String",
				"defaultValue": "tcp:edwh-svil-sql-srv.database.windows.net,1433"
			},
			"EDWH_SVIL_Server_Name": {
				"type": "String",
				"defaultValue": "tcp:edwh-svil-sql-srv.database.windows.net,1433"
			},
			"EDWHServerName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}