factorydata/pipeline/LOAD_L0_IMPROVE1.json
{
	"name": "LOAD_L0_IMPROVE1",
	"properties": {
		"activities": [
			{
				"name": "IterateSQLTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "READ_DT_MD_TABLE",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from MD_IMPROVE_STAG_TABLES where DN_SOURCE_TABLE  =  '@{item().TABLE_NAME}'",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_L0_INCREMENTAL_LOAD_TABLE",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "READ_DT_L0_TABLE",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select MAX(@{item().DT_CCOLUMN}) as NEW_DT_VALUE from @{item().TABLE_NAME}",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_L0_TABLE_EDWH",
									"type": "DatasetReference",
									"parameters": {
										"ImproveTableName": "@{item().TABLE_NAME}"
									}
								}
							}
						},
						{
							"name": "IMPROVE_INCREMENTAL_COPY_ACTIVITY",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "READ_DT_MD_TABLE",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "READ_DT_L0_TABLE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME} where @{item().DT_CCOLUMN} > '@{activity('READ_DT_MD_TABLE').output.firstRow.DT_LAST_LOAD}' and @{item().DT_CCOLUMN} <= '@{activity('READ_DT_L0_TABLE').output.firstRow.NEW_DT_VALUE}'",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": {
										"value": "@{item().StoredProcedureNameForMergeOperation}",
										"type": "Expression"
									},
									"sqlWriterTableType": {
										"value": "@{item().TableType}",
										"type": "Expression"
									},
									"storedProcedureTableTypeParameterName": {
										"value": "@{item().TABLE_NAME}",
										"type": "Expression"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_L0_TABLE_IMPROVE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_L0_TABLE_EDWH",
									"type": "DatasetReference",
									"parameters": {
										"ImproveTableName": "@{item().TABLE_NAME}"
									}
								}
							]
						},
						{
							"name": "StoredProceduretoWriteWatermarkActivity",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IMPROVE_INCREMENTAL_COPY_ACTIVITY",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@{activity('LOOKUP_NEW_LOAD').output.firstRow.NewWatermarkvalue}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@{activity('LOOKUP_OLD_LOAD').output.firstRow.TableName}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CSP_EDWH_LINKED_SERVER",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableList": {
				"type": "object"
			}
		},
		"annotations": []
	}
}