factorydata/pipeline/LOAD_ROL_L0.json
{
	"name": "LOAD_ROL_L0",
	"properties": {
		"activities": [
			{
				"name": "Loop_Load_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetExecParam",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetExecParam').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SET_START",
							"description": "Inserisce un'occorrenza sulla tabella di LOG impostando DT_START con getdate()",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[MD_ERROR_SET_START]",
									"storedProcedureParameters": {
										"pDN_STEP": {
											"type": "String",
											"value": {
												"value": "@concat('LOAD_' ,variables('DN_SOURCE'),'_',item().DN_TABLE_NAME)",
												"type": "Expression"
											}
										},
										"pDN_STEP_DETAIL": {
											"type": "String",
											"value": {
												"value": "@item().DN_TARGET",
												"type": "Expression"
											}
										}
									}
								},
								"dataset": {
									"referenceName": "CSP_INCREMENTAL_LOAD",
									"type": "DatasetReference",
									"parameters": {
										"serverName": {
											"value": "@variables('EDWHServerName')",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "LOAD_ROL_TARGET",
							"description": "Processo di caricamento dei dati sulle tabelle di staging (L0) del source ROL",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SET_START",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().DN_RIF_COLUMN,'ALL')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "LOAD_ROL_TARGET_TABLES",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "GET_REF_DATE",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().DN_TABLE_NAME} where @{item().DN_RIF_COLUMN} > \n '@{activity('GET_REF_DATE').output.firstRow.DT_START}'",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "delete from @{item().DN_TARGET}",
													"type": "Expression"
												},
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"parallelCopies": 1
										},
										"inputs": [
											{
												"referenceName": "DS_L0_TABLE_ROL",
												"type": "DatasetReference",
												"parameters": {
													"serverName": {
														"value": "@variables('ROLServerName')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "EDWH_LOAD_L0",
												"type": "DatasetReference",
												"parameters": {
													"DN_TARGET": {
														"value": "@item().DN_TARGET",
														"type": "Expression"
													},
													"serverName": {
														"value": "@variables('EDWHServerName')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SET_END_OK",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "LOAD_ROL_TARGET_TABLES",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[MD_ERROR_END_OK]",
											"storedProcedureParameters": {
												"pID_RUN": {
													"value": {
														"value": "@activity('SET_START').output.FirstRow.ID_RUN",
														"type": "Expression"
													},
													"type": "int"
												},
												"pROWS_READ": {
													"value": {
														"value": "@activity('LOAD_ROL_TARGET_TABLES').output.rowsRead",
														"type": "Expression"
													},
													"type": "int"
												},
												"pROWS_WRITTEN": {
													"value": {
														"value": "@activity('LOAD_ROL_TARGET_TABLES').output.rowsCopied",
														"type": "Expression"
													},
													"type": "int"
												},
												"pCOPY_DURATION": {
													"value": {
														"value": "@activity('LOAD_ROL_TARGET_TABLES').output.copyDuration",
														"type": "Expression"
													},
													"type": "int"
												},
												"pDATA_WRITTEN": {
													"value": {
														"value": "@activity('LOAD_ROL_TARGET_TABLES').output.dataWritten",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pDESCR": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "CSP_EDWH_LINKED_SERVER",
											"type": "LinkedServiceReference",
											"parameters": {
												"ServerName": {
													"value": "@variables('EDWHServerName')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "SET_END_KO",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "LOAD_ROL_TARGET_TABLES",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[MD_ERROR_END_KO]",
											"storedProcedureParameters": {
												"pID_RUN": {
													"value": {
														"value": "@activity('SET_START').output.FirstRow.ID_RUN",
														"type": "Expression"
													},
													"type": "int"
												},
												"pErrorMessage": {
													"value": {
														"value": "@activity('LOAD_ROL_TARGET_TABLES').output.errors[0].message",
														"type": "Expression"
													},
													"type": "string"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "CSP_EDWH_LINKED_SERVER",
											"type": "LinkedServiceReference",
											"parameters": {
												"ServerName": {
													"value": "@variables('EDWHServerName')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "GET_REF_DATE",
										"description": "Estrae dal DB la data di riferimento per l'estrazione del passo successivo",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[dbo].[MD_GET_START_DATE]",
												"storedProcedureParameters": {
													"pDN_TABLE_NAME": {
														"type": "String",
														"value": {
															"value": "@item().DN_TABLE_NAME",
															"type": "Expression"
														}
													},
													"pDN_SOURCE": {
														"value": {
															"value": "@variables('DN_SOURCE')",
															"type": "Expression"
														}
													}
												}
											},
											"dataset": {
												"referenceName": "CSP_INCREMENTAL_LOAD",
												"type": "DatasetReference",
												"parameters": {
													"serverName": {
														"value": "@variables('EDWHServerName')",
														"type": "Expression"
													}
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "LOAD_ROL_ALL_TARGET_TABLES",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().DN_TABLE_NAME} \n",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "delete from @{item().DN_TARGET}",
													"type": "Expression"
												},
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"parallelCopies": 1
										},
										"inputs": [
											{
												"referenceName": "DS_L0_TABLE_ROL",
												"type": "DatasetReference",
												"parameters": {
													"serverName": {
														"value": "@variables('ROLServerName')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "EDWH_LOAD_L0",
												"type": "DatasetReference",
												"parameters": {
													"DN_TARGET": {
														"value": "@item().DN_TARGET",
														"type": "Expression"
													},
													"serverName": {
														"value": "@variables('EDWHServerName')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SET_END_OK_ALL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "LOAD_ROL_ALL_TARGET_TABLES",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[MD_ERROR_END_OK]",
											"storedProcedureParameters": {
												"pID_RUN": {
													"value": {
														"value": "@activity('SET_START').output.FirstRow.ID_RUN",
														"type": "Expression"
													},
													"type": "int"
												},
												"pROWS_READ": {
													"value": {
														"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.rowsRead",
														"type": "Expression"
													},
													"type": "int"
												},
												"pROWS_WRITTEN": {
													"value": {
														"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.rowsCopied",
														"type": "Expression"
													},
													"type": "int"
												},
												"pCOPY_DURATION": {
													"value": {
														"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.copyDuration",
														"type": "Expression"
													},
													"type": "int"
												},
												"pDATA_WRITTEN": {
													"value": {
														"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.dataWritten",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pDESCR": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "CSP_EDWH_LINKED_SERVER",
											"type": "LinkedServiceReference",
											"parameters": {
												"ServerName": {
													"value": "@variables('EDWHServerName')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "SET_END_KO_ALL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "LOAD_ROL_ALL_TARGET_TABLES",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[MD_ERROR_END_KO]",
											"storedProcedureParameters": {
												"pID_RUN": {
													"value": {
														"value": "@activity('SET_START').output.FirstRow.ID_RUN",
														"type": "Expression"
													},
													"type": "int"
												},
												"pErrorMessage": {
													"value": {
														"value": "@activity('LOAD_ROL_ALL_TARGET_TABLES').output.errors[0].message",
														"type": "Expression"
													},
													"type": "string"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "CSP_EDWH_LINKED_SERVER",
											"type": "LinkedServiceReference",
											"parameters": {
												"DBName": "EDWH",
												"ServerName": {
													"value": "@variables('EDWHServerName')",
													"type": "Expression"
												},
												"UserName": "cspdbo"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "GetExecParam",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MD_LOAD_L0_PARAMS]",
						"storedProcedureParameters": {
							"DN_SOURCE": {
								"type": "String",
								"value": {
									"value": "@variables('DN_SOURCE')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "CSP_INCREMENTAL_LOAD",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@variables('EDWHServerName')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"EXEC_ENV": {
				"type": "string",
				"defaultValue": "svil"
			}
		},
		"variables": {
			"EDWHServerName": {
				"type": "String",
				"defaultValue": "@concat('tcp:edwh-' ,pipeline().parameters.EXEC_ENV,'-sql-srv.database.windows.net,1433')"
			},
			"DN_SOURCE": {
				"type": "String",
				"defaultValue": "ROL"
			},
			"ROLServerName": {
				"type": "String",
				"defaultValue": "\"if(equals(@pipeline().parameters.EXEC_ENV,'svil'),'STRSRV-SQLALFAB\\ALFA2016','DB02')\""
			}
		},
		"annotations": []
	}
}