factorydata/pipeline/LOAD.json
{
	"name": "LOAD",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_OLD_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MD_GET_START_DATE]",
						"storedProcedureParameters": {
							"pDN_TABLE_NAME": {
								"type": "String",
								"value": {
									"value": "'@pipeline().parameters.DN_TABLE_NAME'",
									"type": "Expression"
								}
							},
							"pDN_SOURCE": {
								"value": {
									"value": "@pipeline().parameters.DN_SOURCE",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "EDWH_DB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "INCREMENTAL_COPY_ACTIVITY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOOKUP_OLD_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.DN_TABLE_NAME} where @{pipeline().parameters.DN_RIF_COLUMN} > \n '@{activity('LOOKUP_OLD_LOAD').output.firstRow.DT_START}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "delete from @{pipeline().parameters.DN_OUT_TABLE_NAME}",
							"type": "Expression"
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"parallelCopies": 1
				},
				"inputs": [
					{
						"referenceName": "DS_L0_TABLE_IMPROVE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDWH_LOAD_L0",
						"type": "DatasetReference",
						"parameters": {
							"DN_OUT_TABLE_NAME": {
								"value": "@pipeline().parameters.DN_OUT_TABLE_NAME",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SET_START",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MD_ERROR_SET_START]",
						"storedProcedureParameters": {
							"pDN_STEP": {
								"type": "String",
								"value": {
									"value": "@concat('LOAD_' ,pipeline().parameters.DN_TABLE_NAME)",
									"type": "Expression"
								}
							},
							"pDN_STEP_DETAIL": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DN_OUT_TABLE_NAME",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "EDWH_DB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_END_OK",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "INCREMENTAL_COPY_ACTIVITY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[MD_ERROR_END_OK]",
					"storedProcedureParameters": {
						"pID_RUN": {
							"value": {
								"value": "@activity('SET_START').output.FirstRow.ID_RUN",
								"type": "Expression"
							},
							"type": "int"
						},
						"pROWS_READ": {
							"value": {
								"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.rowsRead",
								"type": "Expression"
							},
							"type": "int"
						},
						"pROWS_WRITTEN": {
							"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.rowsCopied",
							"type": "int"
						},
						"pCOPY_DURATION": {
							"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.copyDuration",
							"type": "int"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET_END_KO",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "INCREMENTAL_COPY_ACTIVITY",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[MD_ERROR_END_KO]",
					"storedProcedureParameters": {
						"pID_RUN": {
							"value": {
								"value": "@activity('SET_START').output.FirstRow.ID_RUN",
								"type": "Expression"
							},
							"type": "int"
						},
						"pErrorMessage": {
							"value": {
								"value": "@activity('INCREMENTAL_COPY_ACTIVITY').output.errors[0].message",
								"type": "Expression"
							},
							"type": "string"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"DN_TABLE_NAME": {
				"type": "string"
			},
			"DN_RIF_COLUMN": {
				"type": "string"
			},
			"DN_TABLE_TYPE": {
				"type": "string"
			},
			"DN_SOURCE": {
				"type": "string"
			},
			"DN_OUT_TABLE_NAME": {
				"type": "string"
			}
		},
		"annotations": []
	}
}