factorydata/pipeline/LOAD_L1.json
{
	"name": "LOAD_L1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_STORED_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_STORED_PROC').output.DN_STORED_NAME",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored Procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@activity('GET_STORED_PROC').output.Firstrow.DN_STORED_NAME",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "CSP_EDWH_LINKED_SERVER",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "GET_STORED_PROC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MD_LOAD_L1_STORED]"
					},
					"dataset": {
						"referenceName": "CSP_INCREMENTAL_LOAD",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}