factorydata/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetExecParam",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_get_exec_params]"
				},
				"linkedServiceName": {
					"referenceName": "CSP_EDWH_LINKED_SERVER",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetExecParam",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@{activity('GetExecParam').output.TABLE_NAME}",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "LOAD_IMPROVE_L0",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TABLE_NAME": "@{activity('GetExecParam').output.TABLE_NAME",
									"Rif_Column": "@{activity('GetExecParam').output.RIF_COLUMN",
									"TableType": "@{activity('GetExecParam').output.TABLE_TYPE",
									"StoredProcedureNameForMergeOperation": "@{activity('GetExecParam').output.STORED_PROCEDURE"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}